.container {
    max-width: 500px;
    min-height: 300px;
    margin: 30px auto;
    padding: 30px;
    overflow: auto;
    border: 2px solid darkviolet;
    border-radius: 10px;
    color: #ebe6f0;
}